{% apply inline_css %}
 <style>
    h1 {
        color:blue;
    }
    h3 {
        color:red;
    }
 </style>
{% endapply %}

<h1>Merci pour votre reservation</h1>
<hr>
<p><strong>Nom : {{ type_nom }}</strong></p>

<hr>
<h3>Voici les informations concernat votre reservation</h3>
<p><strong>Nom complet : {{ le_prenom }}</strong></p>
<br>
<p><strong>Votre RDV : {{ RDV | date("m/d/Y") }}</strong></p>
<br>
<p><strong>Votre Horaire : {{ horaire | date("h:m") }}</strong></p>
<br>
<p><strong>Nombre de couverts: {{ couvert }}</strong></p>
<br>
<p><strong>Téléphone : {{ telephone_customer }}</strong></p>
<hr>
<h3>Contenu du message</h3>
<br>
<p></p>
